name: Deno CI
on:
  push:
    branches:
      - main
jobs:
  build:
    name: ${{ matrix.kind }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
    env:
      GH_ACTIONS: true
      DENO_BUILD_MODE: release
      V8_BINARY: true
    steps:
      - uses: actions/checkout@v2
      - name: Setup Deno
        uses: denolib/setup-deno@master
        with:
          deno-version: 1.x
      - name: Tests
        run: deno test --unstable --allow-all
  release:
    name: Release
    runs-on: ubuntu-18.04
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install dependencies
        run: npm ci
      - name: Update Contributors
        run: npx all-contributors generate
      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_ELEVATED }}
          PRIVATE_TOKEN: ${{ secrets.GH_TOKEN_ELEVATED }}
          GIT_AUTHOR_NAME: kleiderer/microsoft-graph-cli [bot] 
          GIT_AUTHOR_EMAIL: 75591941+kleiderer-microsoft-graph-cli@users.noreply.github.com
          GIT_COMMITTER_NAME: kleiderer/microsoft-graph-cli [bot] 
          GIT_COMMITTER_EMAIL: 75591941+kleiderer-microsoft-graph-cli@users.noreply.github.com
